*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: sans-serif;
  background: linear-gradient(165deg, rgb(255, 108, 230), rgb(255, 206, 44));
  height: 100vh;
}

body::before {
  position: absolute;
  content: "october";
  font-size: 11rem;
  color: rgba(255, 255, 255, 0.239);
  font-weight: bolder;
}

main {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  width: 768px;
  margin: 0 auto;
}

ul {
  display: flex;
  flex-wrap: wrap;
  width: 768px;
  padding: 0;
  /* margin: 4px; */
  /* justify-content: space; */
}

li {
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.5);
  width: 100px;
  height: 100px;
  list-style: none;
  text-align: right;
  padding: 8px;
  color: rgb(53, 53, 53);
  font-size: 2rem;
  font-weight: bold;
  margin: 2px;
  /* z-index: 9; */
}

.hidden-date {
  opacity: 0;
}
